<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petpository_v1">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBd0AXxRg_J9DhsxavKk-One8UQCu7Hu9M" />

        <activity android:name=".MainActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".Sitter.RecentRequestActivity" />
        <activity android:name=".Sitter.PendingActivity" />
        <activity android:name=".Sitter.SitterMainActivity" />
        <activity android:name=".Owner.OwnerMainActivity" />
        <activity android:name=".Owner.AddPet1Activity" />
        <activity android:name=".Owner.PlaceDetailActivity" />
        <activity android:name=".Sitter.Add1PlaceActivity" />
        <activity android:name=".Owner.SentRequestActivity" />
        <activity android:name=".Owner.ChoosePetActivity" />
        <activity android:name=".Owner.MyPetsActivity" />
        <activity android:name=".Sitter.Add2PlaceActivity" />
        <activity android:name=".Sitter.Add3PlaceActivity" />
        <activity android:name=".Owner.History"></activity>
    </application>

</manifest>